.wifi-config {
  display: flex;
  flex-direction: column;
  gap: 64px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__save-button {
    align-self: end;
  }

  &__networks {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
